
header {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #203e99;
    font-size: larger;
    font-weight: 800;
}

#title {
    display: block;
    size: 100%;
    height: 100px;
    background: url("./assets/logo.png") no-repeat;
    background-size: 80%;
    background-position: center;
    padding: 10px;
}
    

#main-doc {
    margin-left: 250px;
    padding-top: 20px;
}

main table, tr, td, th {
    border: 2px dotted black;
    border-radius: 5px;
    padding: 3px;
}
main th {
    text-align: center;
    font-weight: bold;
    color: black;
}

main p, li {
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: small;
    color: black;
    padding-right: 10px;
    padding-left: 10px; }
main li {
    padding-top: 10px; }
main h1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #203e99;
    font-weight: 1000;
}
main img {
    size: 100%;
    width: 600px;
    padding: 10px;
    margin-left: 40px;
    text-align: center;
}

code {
    display: block;
    text-align: left;
    color: darkblue;
    font-weight: 600;
    background-color: #f1f1f1;
    padding: 15px 15px 15px 15px;
    margin: 0 10px 0 10px;
    line-height: 1.5;
    white-space: pre-line;
    border-radius: 7px;
}


.reference-link {
    color:#203e99; }
.reference-link:visited {
    color: #8a0158; }
.reference-link:hover {
    color:rgb(212, 82, 22);
    text-decoration: underline;}


#nav-list li {
    background-color: #f1f1f1;
    list-style-type: none;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #200315; }
#navbar {
    border-right: 2px solid #200315; }
nav header {
    border-bottom: 1px solid #200315;
    text-decoration: none;
    background-color: #f1f1f1;
    margin: 0;
    padding: 10px;
    text-align: center; }
#navbar ul {   
    overflow: auto;
    height: 100%;
    margin-left: 0;
    padding-left: 0;
    margin-block: 0; }
#navbar {
    min-width: 100px;
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
}


nav li a {
    display: block;
    color: #203e99;
    font-weight: 600;
    text-decoration: none; }
nav li a:hover {
    color: rgb(212, 82, 22);
    text-decoration: underline;}
nav li a:visited {
    color: #8a0158; }
nav li a:visited:hover {
    color: rgb(212, 82, 22);
    text-decoration: underline;
}



#nav-list li:hover {
    background-color: #ffffff;
    cursor: pointer; 
}


@media only screen and (max-width:580px) {
    #navbar {
        position: absolute;
        top:0;
        max-height: 250px;
        padding: 0;
        margin: 0;
        width: 100%; }
    #title {
        size: 100%;
        background-size: 60%;
        background-position: center;
        padding: 10px;
        margin: 0;
        height: 150px; }
    #navbar ul {
        border-bottom: 2px solid #200315;
        padding: 0; }
    #main-doc {
        position: relative;
        margin-top: 300px;
        margin-bottom: 100px;
        margin-left: 0px; }
    code {
        text-align: left;
        line-height: normal;
        font-size: 85%;
        word-break: break-all; }
    main p, li {
        font-size: 80%; }
    main li ul li {
        margin-left: -20px; }
    main li {
        margin-left: -10px; }
    header {
        font-size: small; 
    }
}




